{% extends 'customer/base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">Customer Portal: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="{% url 'logout_c' %}">Изход</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="{% url 'manage_c' %}">Твоите заявки</a>
</div>

<div class="w3-display-container" style="height:300px;">
  <div class="w3-display-middle">

<form class="w3-container" action="{% url 'search_results_c' %}" method="post">
  {% csrf_token %}
  <br><br>
  <labеl>Enter City Name:</labеl> <input class="w3-input" type="text" name="city"><br><br>
  <input class="w3-btn w3-green" type="submit" value="Намери кола">
</form>

</div>
</div>

{% endblock %}
