{% extends 'dealer/base.html' %}
{% block content %}
<div class="w3-bar w3-black w3-large">
  <div class="w3-bar-item w3-left w3-black">Модул ДИЛЪР: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="{% url 'logout' %}">Изход</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right " href="{% url 'auth' %}">Начало</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="{% url 'order_list' %}">Поръчки</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="{% url 'manage_vehicles' %}">Коли</a>
  <div class="w3-bar-item w3-black w3-right" href="{% url 'history' %}">Приходи : {{wallet}} лв.</div>
</div>
<h3 class="w3-center" style="padding-top:30"><b>Списък поръчки за коли</b></h3>
<div style="padding:18">
<table class="w3-table w3-striped w3-center">


  <tr>
    <th style="padding:20">Име </th>
    <th style="padding:20">Цвят</th>
    <th style="padding:20">Наем сума</th>
    <th style="padding:20">Дни </th>
    <th style="padding:20">Действие</th>
  </tr>

  {% for order in order_list %}

  <tr>
    <td>{{order.vehicle.car_name}}</td>
    <td>{{order.vehicle.color}}</td>
    <td>${{order.rent}}</td>
    <td>{{order.days}}</td>
    <td><form action = "{% url 'complete' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{order.id}}">
      <input class="w3-btn w3-indigo" type="submit" value="Завърши">
    </form></td>
  </tr>

{% endfor %}
</table>
</div>
{% endblock %}
